body{
  background:gray;
  transition: background 0.5s ;
}



#viewarea{
position: absolute;
width: 400px;
height:400px;
background-color: lightblue;
overflow: hidden;
z-index: 2;}



#overlapper{
  overflow: hidden;
  z-index: 100;
}

a{
  position:absolute;
  top:50px;
  left:40%;
  display: block;
  box-sizing:border-box;
  width: 200px ;
  height:50px;
  border:solid white 2px;
  background: gray;
  font-size:30px;
  color:white;
  transition: top 1s, background 1s,  color 1s;
  text-decoration:none;
  text-align:center;
}


#anchor{
  width:100%;
  height:200px;
}

#anchor:hover a{
  background:white;
  color:gray;
  
  top:100px;
}
#anchor:hover body{
  background:white;
}




